{% extends 'base.html' %}

        {%block content%}

        {% if user.is_authenticated %}

              
	<center>
	<nav>
		<img src="https://avatars0.githubusercontent.com/u/29069335?s=200&v=4">
	</nav>
	</center>

        <center>  
        {%if verifiedUser %} 



                <!-- Main Content is recorded here -->
                <h2>WELCOME.</h2>
                <h1>{{user}}</h1>

                <a href="{%url 'lesson'%}">
                        <button>lesson</button>
                </a>

                &nbsp&nbsp

                <a href="{%url 'logout'%}">
                        <button>logout</button>
                </a>

                



                {% else %}
                <p> Sorry not allowed</p>



                <a href="{%url 'login'%}">
                        <button>logout</button>
                </a>
         {% endif%}        
        </center>


                 	 

         <!-- End -->
        <center>
                {% else %}
                <!-- This is when the user session is not registered into the system -->

                 <p>  You are not authorized to see this page.</p>
                {% endif %}
        </center>

{%endblock%}

