{% extends 'base.html' %}

{%block content%}


	<center>
	<nav>
		<img src="https://avatars0.githubusercontent.com/u/29069335?s=200&v=4">
	</nav>
	</center>

<center>

                 	{%if user.is_authenticated%}
                 	<a href="logout/"><button>logout</button></a>
                 	<p style="font-size: 30px;">welcome <em>{{user}}</em></p>


                 	{%else%}
                 	<p style="font-size: 30px;">Click to login via github</p>
                 	<a href="login/"><button>login</button></a>

                 	{%endif%}

</center>


                 	 


{%endblock%}

