{% extends 'base.html' %}

        {%block content%}
<!-- top page -->
  <a href="#" class="go-top"><i class="fa fa-angle-up"></i></a>
    <!--Header at the top starts here-->

<section id="login" class="row">
<div class="large-4 medium-4 small-2 columns zero">.</div>
<div class="large-4 medium-4 small-8 columns lgn">
  <p class="cent animated fadeIn">
    <img src="assets/logo-dark.png">
  </p>
               <p class="cent wel animated fadeIn">Welcome to Moringa School</p>        
                 <p class="cent animated fadeIn"><a class="git button" href="/accounts/github/login/?process=login">Login with github <i class="fa fa-github"></i></a></p>
           
   <p class="cent lew animated fadeIn">to view your BootCamp Schedule</p>
   </div>
    <div class="large-4 medium-4 small-2 columns zero">.</div>
</section>

    <script src="js/foundation.min.js"></script>
    <script src="js/app.js"></script>
{%endblock%}
